@tailwind base;
@tailwind components;
@tailwind utilities;


img {
  aspect-ratio: auto 640 / 360;
}

small{
    visibility: visible;
    margin: 0;
    padding: 0;
}

small{
    color: #e74c3c;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.form-control.success input{
    border-color: #2ecc71;
    visibility: visible;
}

.form-control.error input{
    border-color: #e74c3c;
    visibility: visible;
}

.scroll-prog {
    position: fixed;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4f46e5;
    animation: scroll-progress linear;
    animation-timeline: scroll();
}

@keyframes scroll-progress {
    from {
        width: 0px;
    }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative; /* Required for :before and :after positioning */
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #4f46e5;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
}


